%main.container.container-static-pages-home
  %header.header.header-static-pages-home
    = icon('instagram')
    %h1 Kotogram
    %ul.nav.nav-static-pages-home
      %li
        = link_to 'Contact', 'https://vk.com/karpinovsky', role: 'button', target: '_blank',
          class: 'btn btn-default'

  .jumbotron.jumbotron-static-pages.text-center
    %h1 Rails project
    %p.lead
      Hi! Kotogram -
      = link_to 'my portfolio-project', 'https://github.com/karpinovsky/kotogram', target: '_blank'
      that I'm working on to become Ruby on Rails developer and get some job as Junior.
      The project is something like Instagram. My friend-mentor
      = link_to 'Nikita', 'https://vk.com/nsklkn', target: '_blank'
      and I decided to do a project of such type because I'll get a lot of experience developing up-to-date
      features and techiques. I'm working by the Scrum Methodology that's why I'm getting full-fledged
      experience in developing real products.
    %p
      = link_to 'Let me see!', new_user_registration_path, role: 'button',
        class: 'btn btn-static-pages btn-default btn-lg'
