<header class="users-show-header">
  <div class="users-show-header-avatar-main-container">
    <div class="users-show-header-avatar-container">
      <%= image_tag user_by_profile_username.profile.avatar,
        class: "users-show-header-avatar" %>
    </div>
  </div>
  <div class="users-show-header-info-main-container">
    <div class="users-show-header-info-container">
      <div class="users-show-header-info-top">
        <h1 class="users-show-header-info-top-username">
          <%= user_by_profile_username.profile.username %>
        </h1>
        <%- if user_signed_in? && current_user == user_by_profile_username %>
          <%= link_to "Edit Profile", edit_user_registration_path,
            class: "users-show-header-info-top-edit-profile-link", role: "button" %>
          <%= render "users/show/new_post_btn" %>
          <div class="users-show-header-info-top-settings-container">
            <button id="users-show-header-info-top-settings"></button>
            <div id="users-show-settings-modal">
              <div id="users-show-settings-modal-content">
                <ul id="users-show-settings-modal-content-container">
                  <li class="users-show-settings-modal-content-item">
                    <%= link_to "Log Out", destroy_user_session_path, method: :delete,
                      role: :button, id: "users-show-settings-modal-logout-link" %>
                  </li>
                  <li class="users-show-settings-modal-content-item">
                    <button id="users-show-settings-modal-cancel">
                      Cancel
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
        <%- if user_signed_in? && current_user != user_by_profile_username %>
          <%= render "relationships/form", user: user_by_profile_username %>
        <% end %>
      </div>
      <ul class="users-show-header-info-middle">
        <li class="users-show-header-info-middle-item">
          <span class="users-show-header-info-middle-item-posts">
          <strong>
            <%= user_by_profile_username.posts.count %>
          </strong>
            <%= 'post'.pluralize(user_by_profile_username.posts.count) %>
          </span>
        </li>
        <li class="users-show-header-info-middle-item">
          <span id="users-show-header-info-middle-item-followers">
          <strong>
            <%= user_by_profile_username.followers.count %>
          </strong>
            followers
          </span>
          <div id="users-show-followers-modal">
            <div id="users-show-followers-modal-content">
              <div id="users-show-followers-modal-content-followers">
                Followers
              </div>
              <ul id="users-show-followers-modal-content-container">
                <%- user_by_profile_username.followers.each do |follower| %>
                  <li class="users-show-followers-modal-content-item">
                    <%= link_to user_path(follower),
                      class: "users-show-followers-modal-content-avatar-link" do %>
                      <%= image_tag follower.profile.avatar,
                        class: "users-show-followers-modal-content-avatar" %>
                    <% end %>
                    <div class="users-show-followers-modal-content-user-info">
                      <%= link_to follower.profile.username, user_path(follower),
                        class: "users-show-followers-modal-content-username" %>
                      <span class="users-show-followers-modal-content-full-name">
                        <%= follower.profile.full_name %>
                      </span>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <li class="users-show-header-info-middle-item">
          <span id="users-show-header-info-middle-item-following">
            <strong>
              <%= user_by_profile_username.followed_users.count %>
            </strong>
            following
          </span>
          <div id="users-show-following-modal">
            <div id="users-show-following-modal-content">
              <div id="users-show-following-modal-content-following">
                Following
              </div>
              <ul id="users-show-following-modal-content-container">
                <%- user_by_profile_username.followed_users.each do |following| %>
                  <li class="users-show-following-modal-content-item">
                    <%= link_to user_path(following),
                      class: "users-show-following-modal-content-avatar-link" do %>
                      <%= image_tag following.profile.avatar,
                        class: "users-show-following-modal-content-avatar" %>
                    <% end %>
                    <div class="users-show-following-modal-content-user-info">
                      <%= link_to following.profile.username, user_path(following),
                        class: "users-show-following-modal-content-username" %>
                      <span class="users-show-following-modal-content-full-name">
                        <%= following.profile.full_name %>
                      </span>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div class="users-show-header-info-bottom">
        <h2 class="users-show-header-info-bottom-full-name">
          <%= user_by_profile_username.profile.full_name %>
        </h2>
        <span class="users-show-header-info-bottom-about-me">
          <%= user_by_profile_username.profile.about_me %>
        </span>
      </div>
    </div>
  </div>
</header>
