<main class="users-show-main-container">
  <article class="users-show-container">
    <%= render "users/show/header" %>
    <div class="users-show-posts-main-container">
      <%= render "users/show/posts" %>
    </div>
  </article>
  <span id="users-show-close-settings-modal">×</span>
  <span id="users-show-close-followers-modal">×</span>
  <span id="users-show-close-following-modal">×</span>
</main>
<script>
  <%- if user_signed_in? && current_user == user_by_profile_username %>
    var settings_modal = document.getElementById('users-show-settings-modal');
    var settings_btn = document.getElementById("users-show-header-info-top-settings");
    var settings_close = document.getElementById("users-show-close-settings-modal");
    var settings_cancel = document.getElementById("users-show-settings-modal-cancel");

    settings_btn.onclick = function() {
      settings_modal.style.display = "flex";
    }

    settings_close.onclick = function() {
      settings_modal.style.display = "none";
    }

    settings_cancel.onclick = function() {
      settings_modal.style.display = "none";
    }
  <% end %>

  var followers_modal = document.getElementById('users-show-followers-modal');
  var followers_btn = document.getElementById("users-show-header-info-middle-item-followers");
  var followers_close = document.getElementById("users-show-close-followers-modal");


  followers_btn.onclick = function() {
    followers_modal.style.display = "flex";
  }

  followers_close.onclick = function() {
    followers_modal.style.display = "none";
  }

  var following_modal = document.getElementById('users-show-following-modal');
  var following_btn = document.getElementById("users-show-header-info-middle-item-following");
  var following_close = document.getElementById("users-show-close-following-modal");


  following_btn.onclick = function() {
    following_modal.style.display = "flex";
  }

  following_close.onclick = function() {
    following_modal.style.display = "none";
  }

  window.onclick = function(event) {
    <%- if user_signed_in? && current_user == user_by_profile_username %>
      if (event.target == settings_modal) {
        settings_modal.style.display = "none";
      }
    <% end %>

    if (event.target == followers_modal) {
      followers_modal.style.display = "none";
    }

    if (event.target == following_modal) {
      following_modal.style.display = "none";
    }
  }

  $(".users-show-followers-modal-content-avatar-link").click(function(){
    $("#users-show-followers-modal").css({"display":"none"});
  });

  $(".users-show-followers-modal-content-username").click(function(){
    $("#users-show-followers-modal").css({"display":"none"});
  });

  $(".users-show-following-modal-content-avatar-link").click(function(){
    $("#users-show-following-modal").css({"display":"none"});
  });

  $(".users-show-following-modal-content-username").click(function(){
    $("#users-show-following-modal").css({"display":"none"});
  });

  $(document).on('click','.users-show-header-info-top-new-post-btn',function() {
    $('.users-show-posts-container').replaceWith('<%= j render('posts/form') %>');
    $('.users-show-header-info-top-new-post-btn').replaceWith('<%= j render('users/show/my_posts_btn') %>');
  });

  $(document).on('click','.users-show-header-info-top-my-posts-btn',function() {
    $('.users-show-posts-no-posts-container').replaceWith('<%= j render('users/show/posts') %>');
    $('.users-show-header-info-top-my-posts-btn').replaceWith('<%= j render('users/show/new_post_btn') %>');
  });
</script>







