.col-lg-12.col-md-12.col-sm-12.col-xs-12.public
  .row
    .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-12{ style: "margin-top: 15px; margin-bottom: 15px;" }
      .btn-group.btn-group-justified{ role: 'group', 'aria-label' => '...' }
        .btn-group{ role: 'group' }
          %button{ class: 'btn btn-info active' } Public
        .btn-group{ role: 'group' }
          %button#btn-to-privacy-section{ class: 'btn btn-default', 'data-remote' => 'true' } Privacy
    .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-12
      = form_for current_user.profile, html: { method: :patch, class: "devise-registrations-edit-public-form" } do |f|

        .form-group.devise-registrations-edit-avatar-field
          = f.label :avatar, class: 'text-muted'
          = f.file_field :avatar
          = f.hidden_field :avatar_cache

        .form-group
          - if current_user.profile.avatar.url.present?
            = f.label :remove_avatar, class: 'text-muted'
            = f.check_box :remove_avatar

        .form-group
          = f.label :full_name, class: 'text-muted'
          = f.text_field :full_name, class: 'form-control'

        .form-group
          = f.label :username, class: 'text-muted'
          = f.text_field :username, autofocus: true, class: 'form-control'

        .form-group
          = f.label :about_me, class: 'text-muted'
          = f.text_area :about_me, class: 'form-control',
            style: "max-width: 100%; min-width: 100%"

        = f.submit 'Submit', class: 'btn btn-primary btn-block'
