- if user_by_username.avatar.blank?
  = image_tag "defaultAvatar.jpg"
  = form_for [current_user, Avatar.new] do |avatar|
    = avatar.hidden_field :user_id, value: current_user.id
    = avatar.file_field   :avatar
    = avatar.submit
- else
  = image_tag user_by_username.avatar.avatar
  - if current_user == user_by_username
    = link_to 'delete avatar', user_avatar_path(current_user.username, current_user.avatar.id), method: :delete
    = form_for [current_user, current_user.avatar] do |avatar|
      = avatar.hidden_field :user_id, value: current_user.id
      = avatar.file_field   :avatar
      = avatar.submit
