.editpage_avatar
  = render partial: 'avatars/avatar'
%br
%br
%br
= user_by_username.username


= form_for current_user do |f|
  = f.label      :Name
  = f.text_field :name
  %br
  = f.label      :Username
  = f.text_field :username
  %br
  = f.label      :Website
  = f.text_field :website
  %br
  = f.label      :Bio
  = f.text_area  :bio
  %br
  %br
  private information
  %br
  %br
  = f.label      :Email
  = f.text_field :email
  %br
  = f.label      :Phone
  = f.text_field :phone
  %br
  = f.label      :Gender
  = f.text_field :gender
  = f.submit
