%main#user-home-page
  - @feed_items.each do |feed_item|
    %article
      %nav
        = link_to (image_tag feed_item.user.profile.avatar), user_path(feed_item.user)
        = link_to user_path(feed_item.user) do
          %strong= feed_item.user.profile.username
        %em
          = link_to user_post_path(feed_item.user, feed_item) do
            = time_ago_in_words(feed_item.created_at)
      %div= image_tag feed_item.image.image
      = render partial: 'likes/posts/form', locals: { likeable: feed_item }
      - unless feed_item.likes_count.zero?
        %p
          = render partial: 'likes/likes', locals: { likeable: feed_item }
      %ul
        = render feed_item.comments
      %section
        = render partial: 'comments/form', locals: { user: feed_item.user, post: feed_item }
