.user-home
  .container.user-home-container
    .row
      .col-lg-6.col-centered
        .row
          - if @feed_items.any?
            - @feed_items.each do |post|
              .col-lg-11.col-centered.user-home-post
                .row
                  .col-lg-12.user-home-post-header
                    .row
                      .col-lg-7.user-home-post-user-info
                        .user-home-post-avatar
                          - if post.user.avatar.blank?
                            = link_to image_tag('default_avatar.jpg'), post.user
                          - else
                            = link_to image_tag(post.user.avatar.avatar), post.user
                        .user-home-post-username
                          = link_to post.user.username, post.user
                      .col-lg-5.user-home-post-time-and-link
                        = link_to time_ago_in_words(post.created_at),
                          user_post_path(post.user_username, post)
                  .col-lg-12.user-home-post-attachment
                    = image_tag post.image.image
                  .col-lg-12.user-home-post-comments
                    .row
                      .col-lg-12.user-home-post-comments-show
                        .row
                          - unless post.description.blank?
                            .col-lg-12.user-home-post-comment
                              .user-home-post-commentor
                                = link_to post.user_username, user_path(post.user_username)
                              .user-home-post-comment-body
                                .user-home-post-with-tags-or-links
                                  = with_links_to_users(with_links_to_tags(post.description))
                          - post.comments.each do |comment|
                            .col-lg-12.user-home-post-comment
                              .user-home-post-commentor
                                = link_to comment.user_username, user_path(comment.user_username)
                              .user-home-post-comment-body
                                .user-home-post-with-tags-or-links
                                  = with_links_to_users(with_links_to_tags(comment.body))
                      .col-lg-12
                        .row
                          .col-lg-11.col-centered.user-home-post-comments-line
                      .col-lg-12.user-home-post-comment-form
                        = form_for [current_user, post, Comment.new] do |comment|
                          = comment.hidden_field :post_id, value: post.id
                          = comment.hidden_field :user_username, value: current_user.username
                          = comment.text_field :body, placeholder: 'Add a comment...'
