- @feed_items.each do |feed_item|
  = link_to (image_tag feed_item.user.avatar), user_path(feed_item.user)
  = link_to feed_item.user.username, user_path(feed_item.user)
  %br
  = render partial: 'likes/likes', locals: { likeable: feed_item }
  = render partial: 'likes/posts/form', locals: { likeable: feed_item }
  = link_to time_ago_in_words(feed_item.created_at), user_post_path(feed_item.user, feed_item)
  %br
  = image_tag feed_item.image.image
  = render feed_item.comments
  = render partial: 'comments/form', locals: { user: feed_item.user, post: feed_item }
