<main class="users-home-main-container">
  <section class="users-home-container">
    <%- if @feed_items.empty? %>
      <div class="users-home-welcome-container">
        <div class="users-home-welcome-icon-container"></div>
        <h2 class="users-home-welcome-to-kotogram">
          Welcome to Kotogram!
        </h2>
        <p class="users-home-follow-accounts">
          Follow accounts to see photos and videos in your feed.
        </p>
      </div>
    <% end %>
    <ul class="users-home-suggestions-main-container">
      <li class="users-home-suggestion-user">
        <div class="users-home-suggestion-for-you-container">
          <span class="users-home-suggestions-for-you">
            Suggestions for you
          </span>
          <%= link_to '#', class: "users-home-suggestions-for-you-see-all" do %>
            See All
            <span class="users-home-suggestions-for-you-see-all-icon-container"></span>
          <% end %>
        </div>
      <%- @recent_users.each do |recent_user| %>
        <%- if recent_user != current_user %>
          <li class="users-home-suggestion-user">
            <%= link_to user_path(recent_user),
              class: "users-home-suggestion-user-avatar-link" do %>
              <%= image_tag recent_user.profile.avatar,
                class: "users-home-suggestion-user-avatar" %>
            <% end %>
            <div class="users-home-suggestion-user-info">
              <%= link_to recent_user.profile.username, user_path(recent_user),
                class: "users-home-suggestion-user-username-link" %>
              <span class="users-home-suggestion-user-full-name">
                <%= recent_user.profile.full_name %>
              </span>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%- if @feed_items.any? %>
      <div class="users-home-posts-main-container">
        <%- @feed_items.each do |post| %>
          <article class="users-home-post-container">
            <header class="users-home-post-header">
              <%= link_to user_path(post.user),
                class: "users-home-post-header-avatar-link" do %>
                <%= image_tag post.user.profile.avatar,
                  class: "users-home-post-header-avatar-image" %>
              <% end %>
              <%= link_to user_path(post.user),
                class: "users-home-post-header-username-link" do %>
                <%= post.user.profile.username %>
              <% end %>
              <%= link_to user_post_path(post.user, post),
                class: 'users-home-post-header-date-link' do %>
                <time class="users-home-post-header-date">
                  <%= time_ago_in_words(post.created_at) %>
                </time>
              <% end %>
            </header>
            <div class="users-home-post-attachment-container">
              <%- if post.attachment.content_type.start_with? "video" %>
                <div class="play-icon-container">
                  <%= icon("play fa-5x") %>
                  <%= video_tag post.attachment.media,
                    class: "users-home-post-attachment video" %>
                </div>
              <%- else %>
                <%= image_tag post.attachment.media,
                  class: "users-home-post-attachment" %>
              <% end %>
            </div>
            <div class="users-home-post-info-container">
              <section class="users-home-post-like-dislike-container">
                <%= render 'likes/posts/form', likeable: post %>
                <%- if post.attachment.content_type.start_with? "video" %>
                  <%= image_tag "videocamera.png",
                    class: "users-home-post-videocamera-image" %>
                <%- end %>
              </section>
              <%- unless post.likes_count.zero? %>
                <section class="users-home-post-likes-container">
                  <%= render 'likes/likes', likeable: post %>
                </section>
              <% end %>
              <%- unless post.description.blank? %>
                <section class="users-home-post-description-container">
                  <%= link_to user_path(post.user),
                    class: "users-home-post-description-username-link" do %>
                    <%= post.user.profile.username %>
                  <% end %>
                  <span class="users-home-post-description">
                    <%= with_links_to_users(with_links_to_tags(post.description)) %>
                  </span>
                </section>
              <% end %>
              <ul class="users-home-post-comments-container">
                <%= render post.comments %>
              </ul>
              <section class="users-home-post-comment-form-container">
                <%= render 'comments/form', post: post %>
              </section>
            </div>
          </article>
        <% end %>
      </div>
    <% end %>
  </section>
</main>
<script>
  $('.video').click(function() {
    if (this.paused) {
      $(".fa-play").css({"visibility": "hidden", "opacity": "0"});
      this.play();
    } else {
      $(".fa-play").css({"visibility": "", "opacity": ""});
      this.pause();
    }
  });

  $('.video').on("ended", function(){
    $(".fa-play").css({"visibility": "", "opacity": ""});
  });
</script>
