.container.users-show-container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
          = image_tag user_by_profile_username.profile.avatar.showpage, class: 'img-circle'
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.text-muted
          %h2= user_by_profile_username.profile.username
          = render 'relationships/form', user: user_by_profile_username
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .row
            .col-lg-2.col-lg-offset-3.col-md-2.col-md-offset-3.col-sm-2.col-sm-offset-3.col-xs-4.text-center.text-muted
              %h4= user_by_profile_username.posts.count
              %h5= 'post'.pluralize(user_by_profile_username.posts.count)
            .col-lg-2.col-md-2.col-sm-2.col-xs-4
              = link_to followers_user_path(user_by_profile_username), class: 'text-center text-muted' do
                %h4= user_by_profile_username.followers.count
                %h5 followers
            .col-lg-2.col-md-2.col-sm-2.col-xs-4
              = link_to following_user_path(user_by_profile_username), class: 'text-center text-muted' do
                %h4= user_by_profile_username.followed_users.count
                %h5 following
        .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12.text-muted.users-show-profile-info
          %strong= user_by_profile_username.profile.full_name
          %p= user_by_profile_username.profile.about_me

    = render 'users/posts'
