.password-edit
  .password-edit-container
    %h1.logo Kotogram
    %h2 Change your password

    = form_for(resource, as: resource_name, url: password_path(resource_name),
      html: { method: :put, class: 'form form-password-edit' }) do |f|
      = f.hidden_field :reset_password_token

      = f.password_field :password, autofocus: true, autocomplete: 'off',
        placeholder: 'New password', class: 'form-control'

      = f.password_field :password_confirmation, autocomplete: "off",
        placeholder: 'Confirm new password', class: 'form-control'

      = f.submit 'Change my password', class: 'button button-password-edit'

  .shared-links
    = render 'devise/shared/links'
