<div class='devise'>
  <div class='devise-content'>
    <h1 class='kotogram'>Kotogram</h1>
    <h2>Change your password</h2>
    <%= form_for resource, as: resource_name, url: password_path(resource_name),
      html: { method: :put, class: 'form-control form-devise', id: '' } do |f| %>

      <%= f.hidden_field :reset_password_token, class: 'input-control' %>

      <div class='form-group'>
        <div class='input-container'>
          <%= f.password_field :password, autofocus: true, autocomplete: :off,
            placeholder: 'New password', class: 'input-control' %>
        </div>
      </div>

      <div class='form-group'>
        <div class='input-container'>
          <%= f.password_field :password_confirmation, autocomplete: :off,
        placeholder: 'Confirm new password', class: 'input-control' %>
        </div>
      </div>

      <div class='form-group'>
        <div class='input-container'>
          <%= f.submit 'Change password', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'devise/shared/links' %>
</div>
