.row
  .feed-item
    .feed-item-header
      .col-lg-8
        .feed-item-user
          = link_to icon('user-o'), feed_item.user, class: 'feed-item-user-avatar-link'
          = link_to feed_item.user.login, feed_item.user, class: 'feed-item-user-link'
      .col-lg-4
        .feed-item-time
          = time_ago_in_words(feed_item.created_at)
    .feed-item-image
      = image_tag feed_item.image
    .feed-item-comments
      .feed-item-comments-show
        = render partial: 'comments/comments', locals: { commentable: feed_item }
      .feed-item-comments-form
        = render partial: 'comments/form',     locals: { commentable: feed_item, user: feed_item.user }
