.feed-item
  .feed-item-header
    .col-lg-7
      .feed-item-user
        = link_to icon('user-o'), feed_item.user, class: 'feed-item-user-avatar-link'
        = link_to feed_item.user.username, feed_item.user, class: 'feed-item-user-link'
    .col-lg-5
      .feed-item-time
        = time_ago_in_words(feed_item.created_at)
  .feed-item-image
    = image_tag feed_item.image.image.homepage.url
  .feed-item-comments
    .feed-item-comments-show
      - unless feed_item.description.blank?
        = link_to feed_item.user_username, user_path(feed_item.user_username), class: 'feed-item-commentor-link'
        .feed-item-comment-body
          = with_links_to_tags(feed_item.description)
        %br
      = render partial: 'comments/comments_show', locals: { post: feed_item }
    .feed-item-comments-form
      = render partial: 'comments/comment_form',  locals: { post: feed_item, user: current_user }
