<div class='unauthorized-user-log-in-page'>
  <div class='unauthorized-user-log-in-page-container'>
    <div class='unauthorized-user-log-in-page-container-kotogram-image'>
      <%= image_tag 'unauthorized_user_home_page_kotogram.png' %>
    </div>
    <div class='unauthorized-user-log-in-page-main-content'>
      <div class='unauthorized-user-log-in-page-log-in-container'>
        <h1 class='unauthorized-user-log-in-page-kotogram'>Kotogram</h1>
        <%= form_for resource, as: resource_name, url: session_path(resource_name),
          html: { class: 'unauthorized-user-log-in-page-log-in-form' } do |f| %>
          <%- devise_error_messages! %>
          <%= f.email_field :email, autofocus: true, placeholder: 'Email',
            class: 'unauthorized-user-log-in-page-log-in-form-input-control' %>
          <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password',
            class: 'unauthorized-user-log-in-page-log-in-form-input-control' %>
          <%= f.submit 'Log in', class: 'unauthorized-user-log-in-page-log-in-button' %>
        <% end %>
        <div class='unauthorized-user-log-in-page-or-log-in-with-social-networks-container'>
          <div class='unauthorized-user-log-in-page-or-log-in-with-social-networks-line'></div>
          <h3 class='unauthorized-user-log-in-page-or-log-in-with-social-networks'>OR</h3>
          <div class='unauthorized-user-log-in-page-or-log-in-with-social-networks-line'></div>
        </div>
        <%= render 'devise/shared/provider' %>
      </div>
      <div class='unauthorized-user-shared-links-container'>
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>
