.devise-main-container.devise-sessions-new
  .devise-container
    .devise-container-image
      = image_tag 'unauthorized_user_home_page_kotogram.png'
    .devise-main-content-container
      .devise-main-content
        %h1.kotogram Kotogram
        = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
          - devise_error_messages!
          = f.email_field :email, autofocus: true, placeholder: :Email, class: 'input-devise'
          = f.password_field :password, autocomplete: :off, placeholder: :Password, class: 'input-devise'
          = f.submit 'Log in', class: 'btn-devise'
        .devise-or
          .line
          %h3 OR
          .line
        = render 'devise/shared/provider'

      = render 'devise/shared/links'
