- if user_signed_in?
  - if likeable.has_like_from?(current_user)
    = form_for([likeable.user, likeable, likeable.likes.find_by(liker: current_user.id)],
      html: { method: :delete, class: "form-post-dislike" }) do |f|
      = button_tag(type: 'submit', class: 'button-post-dislike') do
        = icon('heart')
  - else
    = form_for [likeable.user, likeable, likeable.likes.build],
      html: { class: 'form-post-like' } do |f|
      = f.hidden_field :likeable_type, value: likeable.class.name
      = f.hidden_field :likeable_id, value: likeable.id
      = f.hidden_field :liker, value: current_user.id
      = button_tag(type: 'submit', class: 'button-post-like') do
        = icon('heart-o')
