= form_for [current_user, current_user.posts.build] do |f|
  = f.fields_for :image, Image.new do |ff|
    = ff.file_field :image
  = f.fields_for :comments, Comment.new do |fff|
    = fff.hidden_field :commenter, value: current_user.username
    = fff.text_field :body, placeholder: 'Add description...'
    %br
  = f.submit
