= form_for [current_user, current_user.posts.build] do |f|
  = f.text_field :description, placeholder: 'Add a description...'
  = f.fields_for :image, Image.new do |ff|
    = ff.file_field :image
  = f.submit
