= form_for Post.new, url: user_posts_path(current_user) do |p|
  .field
    = p.hidden_field :user_id, value: current_user.id
    = p.text_field :body
  .field
    = p.fields_for :image, Image.new do |image_form|
      = image_form.file_field :image
  .actions
    = p.submit
