= form_for Post.new, url: user_posts_path(current_user) do |post|
  .field
    = post.hidden_field :user_id, value: current_user.id
  .field
    = post.text_area :description, placeholder: 'Add description...'
  .field
    = post.fields_for :image, Image.new do |image_form|
      = render partial: 'images/image_form', locals: { image: image_form }
  .actions
    = post.submit
