.container.posts-show-container
  .row
    .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-12.posts-show-post
      .row
        .col-lg-7.col-md-7.col-sm-7.col-xs-12{ style: 'padding-left: 0px; padding-right: 0px;' }
          - if @post.attachment.content_type.start_with? 'video'
            = video_tag @post.attachment.media, controls: :true, style: 'width: 100%; height: 100%;'
          - else
            = image_tag @post.attachment.media, style: 'width: 100%; height: 100%;'
        .col-lg-5.col-md-5.col-sm-5.col-xs-12.posts-show-info
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.posts-show-header
              = link_to user_path(@post.user) do
                = image_tag @post.user.profile.avatar.post_showpage, class: 'img-circle'
                %strong.posts-show-header-username= @post.user.profile.username
              - if current_user == @post.user
                .posts-show-delete
                  = button_to 'Delete post', user_post_path(@post), method: :delete, class: 'btn btn-danger',
                    data: { confirm: "Are you sure?" }
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.posts-show-likes-and-time-container
              = render 'likes/posts/form', likeable: @post
              = render 'likes/likes', likeable: @post
              = link_to user_post_path(@post.user, @post), class: 'posts-show-link-time' do
                .text-muted= time_ago_in_words @post.created_at
            - unless @post.description.blank?
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                %strong= @post.user.profile.username
                %span= @post.description
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              %ul{ class: " posts-show-comments-container post-#{@post.id}" }
                = render @post.comments
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              = render 'comments/form', post: @post
