<main class="posts-show-main-container">
  <article class="posts-show-container">
    <div class="posts-show-attachment-container">
      <%- if @post.attachment.content_type.start_with? "video" %>
        <div class="play-icon-container">
          <%= icon("play fa-5x") %>
          <%= video_tag @post.attachment.media, class: "posts-show-attachment video" %>
        </div>
      <% else %>
        <%= image_tag @post.attachment.media, class: "posts-show-attachment" %>
      <% end %>
    </div>
    <div class="posts-show-left-container">
      <header class="posts-show-header">
        <%= link_to user_path(@post.user),
          class: "users-show-info-header-user-avatar-link" do %>
          <%= image_tag @post.user.profile.avatar,
            class: "users-show-info-header-user-avatar" %>
        <% end %>
        <%= link_to @post.user.profile.username, user_path(@post.user),
          class: "users-show-info-header-user-username-link" %>
        <%- if user_signed_in? %>
          <%- if current_user == @post.user %>
            <%= button_to 'Delete', user_post_path(@post), method: :delete, class: 'btn-follow',
              style: 'padding: 0 12px',
              data: { confirm: "Are you sure?" } %>
          <%- else %>
            <div class="posts-show-relationship-container">
              <%= render "relationships/form", user: @post.user %>
            </div>
          <% end %>
        <% end %>
      </header>
      <div class="posts-show-info-main-container">
        <div class="posts-show-info-comments-main-container">
          <ul class="posts-show-info-comments-container post-<%= @post.id %>">
            <%= render @post.comments %>
          </ul>
        </div>
        <section class="posts-show-info-options-container">
          <%= render 'likes/posts/form', likeable: @post %>
        </section>
        <%- unless @post.likes_count.zero? %>
          <section class="posts-show-info-likes-container">
            <%= render 'likes/likes', likeable: @post %>
          </section>
        <% end %>
        <div class="posts-show-info-time-container">
          <span><%= time_ago_in_words @post.created_at %></span>
        </div>
        <%- if user_signed_in? %>
          <section class="posts-show-info-comment-form-main-container">
            <%= render 'comments/form', post: @post %>
          </section>
        <% end %>
      </div>
    </div>
  </acticle>
</main>
<script>
  $('.video').click(function() {
    if (this.paused) {
      $(".fa-play").css({"visibility": "hidden", "opacity": "0"});
      this.play();
    } else {
      $(".fa-play").css({"visibility": "", "opacity": ""});
      this.pause();
    }
  });

  $('.video').on("ended", function(){
    $(".fa-play").css({"visibility": "", "opacity": ""});
  });
</script>
