.col-lg-11.col-centered.homepage-non-auth-user-sign-in
  .row
    .col-lg-12.homepage-non-auth-user-logo Kotogram
    .col-lg-12.homepage-non-auth-user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f|
        .form-group
          .input-group
            = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control'

          .input-group
            = f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control'

          .actions
            = f.submit 'Log in', class: 'homepage-non-auth-user-btn'
    .col-lg-12.homepage-non-auth-user-or-sign-up-with-form
      .homepage-non-auth-user-or-sign-up-with-form-left-line
      OR
      .homepage-non-auth-user-or-sign-up-with-form-right-line
    .col-lg-12.homepage-non-auth-user-log-in-with-facebook
      = button_to 'Log in with Facebook', user_facebook_omniauth_authorize_path,
        class: 'homepage-non-auth-user-btn-on-sign-in-form'
