- if user_signed_in?
  %nav#navbar-override.navbar.navbar-default.navbar-fixed-top
    .container
      .row
        .col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
          .row
            .col-lg-4.col-md-4.col-sm-4.col-xs-12
              .navbar-header
                %button#navbar-toggle-override.navbar-toggle.collapsed{'aria-expanded' => 'false',
                  'data-target' => '#bs-example-navbar-collapse-1',
                  'data-toggle' => 'collapse', :type => 'button'}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                = link_to authenticated_root_path, id: 'navbar-brand-override',
                  class: 'navbar-brand' do
                  = icon('instagram')
                  #kotogram Kotogram
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              .col-lg-4.col-md-4.col-sm-4.col-xs-12
                %form#navbar-form-override.navbar-form
                  .input-group
                    %input.form-control{:placeholder => "Search", :type => "text"}/
                    %span.input-group-btn
                      %button.btn.btn-default{:type => "submit"} Go
              .col-lg-4.col-md-4.col-sm-4.col-xs-12
                %ul.nav.navbar-nav.navbar-right
                  %li.dropdown
                    %a#dropdown-toggle-override.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                      = current_user.profile.username
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        = link_to 'Profile', user_path(current_user)
                      %li
                        = link_to 'Settings', edit_user_registration_path
                      %li.divider{:role => "separator"}
                      %li
                        = link_to 'Log out', destroy_user_session_path, method: :delete
