- if user_signed_in?
  %header.header-authenticated-user
    %nav.nav-authenticated-user
      = link_to authenticated_root_path,
        class: 'logo' do
        = icon('instagram')
        %h3 Kotogram
      = form_tag users_path, method: :get do
        = text_field_tag :search, '', placeholder: 'Search'
      = link_to icon('user-o'), user_path(current_user),
        class: 'user-profile-link-for-header'
