- if user_signed_in?
  %header.nav.navbar-default
    .container
      .navbar-header
        = link_to icon('instagram'), root_path
      .nav.navbar-left
        = link_to 'Profile', current_user
        = form_tag(users_path, method: :get, class: 'navbar-form navbar-right') do
          .form-group
            = text_field_tag :search, '', placeholder: 'Search', class: 'form-control'
          = submit_tag 'Search', name: nil, class: 'btn btn-default'
