!!! 5
%html
  %head
    %title Kotogram
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Lobster+Two'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }

  %body
    = render 'layouts/header'
    - flash.each do |key, value|
      = content_tag(:div, value, class: "alert alert-#{key}")
    = yield
